<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generator_test</title>
    <link rel="stylesheet" href="../static/CSS/index.css">
</head>

<body>
    <!-- <header>
        <section class="title_header">
            
        </section>
    </header> -->
    <main>
        <section class="content_button_notion">
            <div class="wrap_button">
                <button class="notion">Nombre complexe</button>
                <button class="notion">Trigonométrie</button>
                <button class="notion">Fraction</button>
            </div>

            <script>
                let chosen_notion = "";
                document.querySelectorAll(".notion").forEach(btn => {
                    btn.addEventListener("click", function () {
                        chapitreChoisi = this.textContent;
                        console.log(chapitreChoisi);
                    });
                });
            </script>
        </section>
    </main>



</body>

</html>